<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtering by Color</title>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4="
          rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="https://assets.digitalocean.com/logos/favicon.png"/>
</head>
<body>
<nav aria-label="main navigation" class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img alt="Logo" src="https://assets.digitalocean.com/logos/DO_Logo_icon_blue.png"
                 style="margin-right: 0.5em;">Color Filter
        </div>
    </div>
</nav>
<table class="table is-fullwidth is-striped is-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for color in colors %}
    <tr>
        <th>{{ color.title }}</th>
        <td><img src={{color.primaryimageurl}}></img></td>
        <td>{{ color.primaryimageurl }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>